.header
    .parent
        +row-flex()
        width: 1000px
        .child
            /*child*/
            +col()
            +size(12)
            // +size-sm(6)
            font-size: 40px
            width: 320px
            margin: 1px 2px 1px
            +xs-block
                font-size: 50px
                width: 567px
                margin: 2px 3px 2px
           
            +sm-block
                font-size: 60px
                width: 768px
                margin: 3px 4px 3px