header.header
    .wrapper
        .parent
            .child Header
                .icon.icon-png
                .icon.icon-webp
                .svg-mouse.svg-mouse-box
            .child Header2
            img(src="assets/icons/svg/spriteSVG.svg#mouse" alt="")
            button click